
.root {
    -fx-background-image: url('img/bg.png');
    -fx-background-repeat: repeat, repeat;
}

#queryframe3v {
    -fx-padding: 20 20 20 100;
    -fx-spacing: 15;
}

#tb1 {
    -fx-graphic: url('img/login.png');
}

#tb2 {
    -fx-graphic: url('img/allitem.png');
}

#tb3 {
    -fx-graphic: url('img/search.png');
}

#tb4 {
    -fx-graphic: url('img/borrow.png');
}

#tabframe {
    -fx-alignment: BASELINE_CENTER;
}

#title {
    -fx-alignment: BASELINE_CENTER;
    -fx-spacing: 20;
}

#titlelabel {
    -fx-font-size: 48px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #818181;
    -fx-effect: innershadow( three-pass-box, rgba(0, 0, 0, 0.7), 6, 0, 0, 2);
}

#loginmsg {
    -fx-font-size: 24px;
}

#loginframe3v {
    -fx-padding: 20 20 20 100;
    -fx-spacing: 10;
}